/* HomePage.css */
.content {
    text-align: center;
    margin: 20px;
  }
  
  .content h2 {
    font-size: 2rem;
    color: blue;
  }
  
  .content p {
    font-size: 1.2rem;
    color: #333;
  }
  